@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --square-size: 70px;
}

body,
button {
  font-family: Montserrat, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.tickets-grid {
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  margin: auto;
}

.tickets-grid div,
.legend-row div {
  border-radius: 5px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: var(--square-size);
}

.seat {
  background-color: aqua;
  cursor: pointer;
  font-weight: bold;
}

.seat,
.door,
.driver,
.hall,
.premium,
.bath,
.stairs {
  position: relative;
}

.seat:hover i,
.door:hover .fa-minus-circle,
.driver:hover .fa-minus-circle,
.hall:hover .fa-minus-circle,
.premium:hover .fa-minus-circle,
.stairs:hover .fa-minus-circle,
.bath:hover .fa-minus-circle {
  display: block;
}

.seat i,
.door .fa-minus-circle,
.driver .fa-minus-circle,
.hall .fa-minus-circle,
.premium .fa-minus-circle,
.stairs .fa-minus-circle,
.bath .fa-minus-circle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.seat i:hover,
.door .fa-minus-circle:hover,
.driver .fa-minus-circle:hover,
.hall .fa-minus-circle:hover,
.premium .fa-minus-circle:hover,
.stairs .fa-minus-circle:hover,
.bath .fa-minus-circle:hover {
  color: red;
}

.driver,
.door,
.stairs,
.bath,
.hall {
  background-color: gray;
}

.premium {
  background-color: goldenrod;
}

.driver i:nth-child(1),
.door i:nth-child(1),
.stairs i:nth-child(1),
.premium i:nth-child(1),
.bath i:nth-child(1) {
  color: white;
  font-size: 25px;
}

.seat:hover {
  background-color: aquamarine;
}

.empty {
  background-color: aqua;
  opacity: 0.4;
  cursor: pointer;
  position: relative;
}

.show-toolbar {
  opacity: 1;
}

.empty .toolbar {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  position: absolute;
  top: -30px;
  width: auto;
  gap: 10px;
  z-index: 10;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.show-toolbar .toolbar {
  display: flex;
}

.toolbar i {
  font-size: 25px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.toolbar i:hover {
  color: aqua;
}

.button-left,
.button-right {
  display: flex;
  flex-direction: column;
}

.button-left i,
.button-right i {
  margin: 20px 5px;
}

.button-down i {
  margin: 5px 20px;
}

.button-left i,
.button-right i,
.button-down i {
  font-size: 40px;
  color: white;
  opacity: 0.9;
  cursor: pointer;
}

.button-left,
.button-right,
.button-down {
  background-color: #11d0e944;
}

.button-left {
  height: auto !important;
}

.button-right {
  height: auto !important;
}

.button-down {
  height: var(--square-size);
}

.button-right:hover,
.button-left:hover,
.button-down:hover {
  background-color: #11d0e999;
}

#save-seats {
  display: block;
  margin: 20px auto;
  padding: 15px 20px 15px 20px;
  font-weight: bold;
  width: auto;
  color: white;
  border: none;
  cursor: pointer;
  background-color: cyan;
  text-transform: uppercase;
}

#save-seats:hover {
  filter: brightness(115%);
}

#save-seats:active {
  transform: translateY(5px);
}

#save-seats:focus {
  outline: none;
}

.legend-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.legend-row div {
  cursor: initial;
  width: var(--square-size);
  margin-right: 15px;
}
